@font-face {
    font-family: 'lrseo';
    src: url('./font/lrseo.eot?92069601');
    src: url('./font/lrseo.eot?92069601#iefix') format('embedded-opentype'),
    url('./font/lrseo.woff2?92069601') format('woff2'),
    url('./font/lrseo.woff?92069601') format('woff'),
    url('./font/lrseo.ttf?92069601') format('truetype'),
    url('./font/lrseo.svg?92069601#lrseo') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'lrseo';
    src: url('../font/lrseo.svg?92069601#lrseo') format('svg');
  }
}
*/
[class*="lrseoicon-"]:before {
    font-family: "lrseo";
    font-style: normal;
    font-weight: normal;
    speak: never;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.lrseoicon-search:before { content: '\e801'; } /* '' */
.lrseoicon-heart:before { content: '\e802'; } /* '' */
.lrseoicon-star:before { content: '\e803'; } /* '' */
.lrseoicon-user:before { content: '\e804'; } /* '' */
.lrseoicon-ok:before { content: '\e806'; } /* '' */
.lrseoicon-ok-circled:before { content: '\e807'; } /* '' */
.lrseoicon-cancel:before { content: '\e808'; } /* '' */
.lrseoicon-plus:before { content: '\e809'; } /* '' */
.lrseoicon-minus-circled:before { content: '\e80a'; } /* '' */
.lrseoicon-help-circled:before { content: '\e80b'; } /* '' */
.lrseoicon-attention:before { content: '\e80d'; } /* '' */
.lrseoicon-wrench:before { content: '\e80f'; } /* '' */
.lrseoicon-right-open:before { content: '\e812'; } /* '' */
.lrseoicon-right-hand:before { content: '\e813'; } /* '' */
.lrseoicon-asterisk:before { content: '\e815'; } /* '' */
.lrseoicon-right-circled:before { content: '\f0a9'; } /* '' */
.lrseoicon-gauge:before { content: '\f0e4'; } /* '' */
.lrseoicon-lightbulb:before { content: '\f0eb'; } /* '' */
.lrseoicon-stethoscope:before { content: '\f0f1'; } /* '' */
.lrseoicon-food:before { content: '\f0f5'; } /* '' */
.lrseoicon-rocket:before { content: '\f135'; } /* '' */
.lrseoicon-euro:before { content: '\f153'; } /* '' */
.lrseoicon-dollar:before { content: '\f155'; } /* '' */
.lrseoicon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.lrseoicon-recycle:before { content: '\f1b8'; } /* '' */
.lrseoicon-plug:before { content: '\f1e6'; } /* '' */
.lrseoicon-cc-visa:before { content: '\f1f0'; } /* '' */
.lrseoicon-chart-pie:before { content: '\f200'; } /* '' */
.lrseoicon-chart-line:before { content: '\f201'; } /* '' */
.lrseoicon-heartbeat:before { content: '\f21e'; } /* '' */
.lrseoicon-battery-2:before { content: '\f242'; } /* '' */
.lrseoicon-industry:before { content: '\f275'; } /* '' */
.lrseoicon-map-signs:before { content: '\f277'; } /* '' */
.lrseoicon-shopping-bag:before { content: '\f290'; } /* '' */
.lrseoicon-envira:before { content: '\f299'; } /* '' */
.lrseoicon-wheelchair-alt:before { content: '\f29b'; } /* '' */
.lrseoicon-handshake-o:before { content: '\f2b5'; } /* '' */
.lrseoicon-thermometer-3:before { content: '\f2c8'; } /* '' */